<template>
  <div id="form">
    <label for="width-input">
      <div>Width</div>
      <input id="width-input" :value="width" type="number" @input="(data) => handleWidthChange(data)" />
    </label>
    <label for="height-input">
      <div>Height</div>
      <input id="height-input" :value="height" type="number" @input="(data) => handleHeightChange(data)" />
    </label>
    <label for="default-row-color">
      <div>Default Row Color</div>
      <input id="default-row-color" type="color" :value="defaultRowColor" @input="(evt) => handleDefaultRowColor(evt)" />
    </label>
    <label for="default-column-color">
      <div>Default Column Color</div>
      <input id="default-column-color" type="color" :value="defaultColumnColor" @input="(evt) => handleDefaultColumnColor(evt)" />
    </label>
    <button @click="() => generateGrid()">Generate</button>
  </div>
</template>

<script lang="ts">
import type { Cell } from '@/App.vue';
import { Component, Vue } from 'vue-property-decorator';

export interface GeneratorPayload {
  rows: Array<Cell[]>;
  width: number;
  height: number;
}

@Component({})
export default class GeneratorForm extends Vue {
  rows: Array<Cell[]> = [];

  width = 10;
  height = 10;
  defaultRowColor = '#999999';
  defaultColumnColor = '#dddddd';

  handleWidthChange(value: any) {
    this.width = value.target.valueAsNumber;
  }

  handleHeightChange(value: any) {
    this.height = value.target.valueAsNumber;
  }

  generateGrid() {
    this.rows = [];
    for (let y = 0; y < this.height; y++) {
      this.rows.push([]);
      for (let x = 0; x < this.width; x++) {
        this.rows[y].push({
          color:
            ((y % 2) && (x % 2) && (x > 0 && y > 0))
            ? this.defaultColumnColor : this.defaultRowColor
        });
      }
    }

    this.$emit('update', {
      rows: this.rows,
      width: this.width,
      height: this.height,
    } as GeneratorPayload);
  }

  handleDefaultRowColor(evt: any) {
    this.defaultRowColor = evt.target.value;
  }

  handleDefaultColumnColor(evt: any) {
    this.defaultColumnColor = evt.target.value;
  }
}
</script>

<style scoped>
#form {
  display: flex;
  flex-direction: column;
}
</style>