<template>
  <div>
    <div v-if="rows.length"  id="cols-color-picker" :class="{ 'extended': extended }">
      <input
        :value="rows[(col_index % 2) ? 1 : 0][col_index - 1].color"
        @input="(data) => handleColColorChange(col_index - 1, data)"
        type="color"
        class="cell"
        :style="`width: ${cellSize}px; height: ${cellSize}px; background-color: ${rows[(col_index % 2) ? 1 : 0][col_index - 1].color}`"
        v-for="col_index in width" :key="col_index"
      />
    </div>
    <div
      v-if="rows.length" id="canvas-container">
      <div class="row" v-for="(col, row_index) in rows" :key="row_index">
        <div
          v-on:pointerdown="handlePointerDown"
          v-on:pointermove="handlePointerMove"
          v-on:pointerup="handlePointerUp"
          v-on:pointercancel="handlePointerUp"
          v-on:touchstart.prevent=""
          @wheel.prevent="(evt) => handleMouseWheel(evt)"
          class="cell" :style="`width: ${cellSize}px; height: ${cellSize}px; background-color: ${item.color}`" v-for="(item, col_index) in col" :key="col_index">
        </div>
          <input
            :value="rows[row_index][(row_index % 2) ? 1 : 0].color"
            :style="`width: ${cellSize}px; height: ${cellSize}px; background-color: ${rows[row_index][(row_index % 2) ? 1 : 0].color}`"
            @input="(data) => handleRowColorChange(row_index, data)"
            type="color"
            class="cell row-picker"
          />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import type { Cell } from '@/App.vue';
import { Component, Emit, Prop, Vue, Watch } from 'vue-property-decorator';

export interface LoomCanvasPayload {
  rows: Array<Cell[]>;
}

@Component
export default class LoomCanvas extends Vue {
  @Prop({
    required: true,
    type: Array,
  })
  rows!: Array<Cell[]>;

  @Prop({
    required: true,
    type: Boolean,
  })
  isMirroring!: boolean;

  @Prop({
    required: true,
    type: Number
  })
  width!: number;

  @Prop({
    required: true,
    type: Number
  })
  height!: number;

  @Prop({
    required: true,
    type: Number
  })
  cellSize!: number;

  @Prop({
    required: true,
    type: Boolean
  })
  extended!: boolean;

  localRows!: Array<Cell[]>;

  mounted() {
    this.localRows = this.rows;
  }

  @Watch('rows')
  rowsChanged() {
    this.localRows = this.rows;
  }

  handleColColorChange(col_index: number, value: any) {
    for (let i = (col_index % 2) ? 0 : 1; i < this.height; i += 2) {
      this.localRows[i][col_index].color = value.target.value;
      if (this.isMirroring) {
        if (this.width % 2) {
            this.localRows[i][this.width - col_index - 1].color = value.target.value;
        } else {
          this.localRows[i + (i % 2 ? -1 : 1)][this.width - col_index - 1].color = value.target.value;
        }
      }
    }
    this.update();
  }

  handleRowColorChange(row_index: number, value: any) {
    for (let i = (row_index % 2) ? 1 : 0; i < this.width; i += 2) {
      this.localRows[row_index][i].color = value.target.value;
      if (this.isMirroring) {
        if (this.height % 2) {
          this.localRows[this.height - row_index - 1][i].color = value.target.value;
        } else {
          this.localRows[this.height - row_index - 1][i + (i % 2 ? -1 : 1)].color = value.target.value;
        }
      }
    }
    this.update();
  }

  @Emit('update')
  update() {
    return {
      rows: this.localRows
    };
  }

  evCache: Array<any> = [];
  prevDiff = -1;

  handlePointerDown(evt: any) {
    this.evCache.push(evt);
  }

  handlePointerMove(ev: any) {
    // Find this event in the cache and update its record with this event
    const index = this.evCache.findIndex((cachedEv) => cachedEv.pointerId === ev.pointerId);
    this.evCache[index] = ev;
    // If two pointers are down, check for pinch gestures
    if (this.evCache.length === 2) {
      // Calculate the distance between the two pointers
      const curDiff = Math.abs(this.evCache[0].clientX - this.evCache[1].clientX);
      if (this.prevDiff > 0) {
        if (curDiff > this.prevDiff) {
          // The distance between the two pointers has increased
          this.$emit('cellSize', this.cellSize * 1.02);
        }
        if (curDiff < this.prevDiff) {
          // The distance between the two pointers has decreased
          this.$emit('cellSize', this.cellSize / 1.02);
        }
      }
      // Cache the distance for the next move event
      this.prevDiff = curDiff;
    }
  }

  removeEvent(ev: any) {
    // Remove this event from the target's cache
    const index = this.evCache.findIndex((cachedEv) => cachedEv.pointerId === ev.pointerId);
    this.evCache.splice(index, 1);
  }

  handlePointerUp(ev: any) {
    this.removeEvent(ev);
    // If the number of pointers down is less than two then reset diff tracker
    if (this.evCache.length < 2) {
      this.prevDiff = -1;
    }
  }

  handleMouseWheel(evt: any) {
    if (evt.deltaY > 0) {
      this.$emit('cellSize', this.cellSize / 1.02);
    }
    if (evt.deltaY < 0) {
      this.$emit('cellSize', this.cellSize * 1.02);
    }
  }
}
</script>

<style scoped>
.row {
  display: flex;
}

#cols-color-picker {
  display: -webkit-box;
}

#cols-color-picker {
  margin-bottom: 10px;
  margin-top:270px;

  transition: margin-top 0.25s linear;
}

#cols-color-picker.extended {
  margin-top:35px;

  transition: margin-top 0.25s linear;
}

.row-picker {
  margin-left: 10px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0;
}

#canvas-container {
  display: inline-block;
}

</style>
