<template>
  <div>
    <div
      id="header-tools"
      :class="{
        'collapsed': !headerToolsVisible
      }"
    >
      <div>
        <span style="cursor:pointer" @click="toggleHeaderTools" class="material-symbols-outlined">
          menu
        </span>
        <generator-form
          class="generator-form"
          :class="{
            'collapsed': !headerToolsVisible
          }"
          @update="handleGenerator" />
      </div>
      <div
        class="tools"
        :class="{
          'collapsed': !headerToolsVisible
        }">
        <label for="mirror-check">
          <div>Mirror</div>
          <input id="mirror-check" type="checkbox" :value="isMirroring" @input="handleMirror" />
        </label>
      </div>
      <div v-if="colors">
        <div v-for="(color, index) in Object.keys(colors)" :key="index">
          <span :style="`background-color:${color}`">{{ color }}:</span>{{ colors[color] }}
        </div>
      </div>
    </div>
    <div
      v-if="rows.length > 0"
    >
      <loom-canvas
        :rows="rows"
        :isMirroring="isMirroring"
        :width="width"
        :height="height"
        :cellSize="cellSize"
        :extended="!headerToolsVisible"
        @update="handleCanvasUpdate"
        @cellSize="handleCellSize"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import GeneratorForm from '@/components/GeneratorForm.vue';
import LoomCanvas from '@/components/LoomCanvas.vue'
import type { LoomCanvasPayload } from '@/components/LoomCanvas.vue'
import type { GeneratorPayload } from '@/components/GeneratorForm.vue';

export interface Cell {
  color: string;
}

@Component({
  components: {
    GeneratorForm,
    LoomCanvas,
  }
})
export default class App extends Vue {
  rows: Array<Cell[]> = [];
  width!: number;
  height!: number;
  headerToolsVisible = true;

  colors: any = {};

  cellSize = 25;
  isMirroring = false;

  created() {
    const rows = localStorage.getItem('rows');
    const width = localStorage.getItem('width');
    const height = localStorage.getItem('height');
    if (rows && width && height) {
      this.rows = JSON.parse(rows);
      this.width = parseInt(width);
      this.height = parseInt(height);

      this.countColors();
      console.log(this.colors);
    }
  }

  countColors() {
    console.log(this.rows.length)


    for (let col_index = 1; col_index <= this.rows[0].length; col_index++) {
      if (this.colors[this.rows[(col_index % 2) ? 1 : 0][col_index - 1].color] != undefined) {
        console.log('lol')
        this.colors[this.rows[(col_index % 2) ? 1 : 0][col_index - 1].color] += 1
      } else {
        console.log('create')
        this.colors[this.rows[(col_index % 2) ? 1 : 0][col_index - 1].color] = 1;
      }
    }
  }

  handleGenerator(data: GeneratorPayload) {
    this.width = data.width;
    this.height = data.height;
    this.rows = data.rows;
  }

  handleMirror(evt: any) {
    this.isMirroring = evt.target.value;
  }

  handleCanvasUpdate(data: LoomCanvasPayload) {
    const rows = [...data.rows]
    this.rows = rows;

    localStorage.setItem('rows', JSON.stringify(rows))
    localStorage.setItem('width', this.width.toString())
    localStorage.setItem('height', this.height.toString())
  }

  handleCellSize(size: string) {
    this.cellSize = parseFloat(size)
  }

  toggleHeaderTools() {
    this.headerToolsVisible = !this.headerToolsVisible;
  }
}
</script>

<style scoped>
#header-tools {
  position: fixed;
  background-color: #333;
  display:flex;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  left: 0;
  top: 0;
  box-shadow: 0px 5px 5px #00000033;
  height: 240px;

  transition: all linear 0.25s;
}

.generator-form, .tools {
  opacity: 1;

  transition: opacity linear 0.25s;
}

.generator-form.collapsed, .tools.collapsed {
  opacity: 0;

  transition: opacity linear 0.25s;
}

#header-tools.collapsed {
  height: 25px;

  transition: all linear 0.25s;
}
</style>

<style>
body {
  background-color: #222;
  color: #eee;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: 14px;
}
</style>